* {
    box-sizing: border-box;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

table th {
    background-color: rgb(65, 132, 42);
    color: #eee;
}

table tr:nth-of-type(even) td {
    background-color: rgb(178,214,163);
}

table th, table td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

table th, table caption, form label {
    font-family: "Gabriola", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;  
}

table caption {
    font-weight: 600;
}

form {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #bbb;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px auto;
    grid-column-gap: 15px;
}

label + * {
    margin-bottom: 15px;
}

input[type=submit] {
    justify-self: start;
}  

#pagecontainer{
    display: grid;
    grid-template-columns: 200px auto;
}

.mobile{
    display: none;
}

header{
    background-image: url("imgs/hand-grips-a-gardening-tool-to-cut-back-a-plant.jpg");
    background-size: cover;
    background-position: center;
}

header, footer {
    background-color: rgb(65, 132, 42);
    color: #eee;
    grid-column: 1 / -1;
}

main{

    border-left: 5px solid rgb(158,194,143);
}

h1 {
    font-family: "Century Gothic", serif;
    font-size: 3em;
    font-weight: 500;
    line-height: 400%;
}

h1, nav, #copyright {
    text-align: center;
}

body, h1{
    margin: 0;
}

h1{
    background-color: rgba(5, 72, 12, .5);
    text-shadow: 2px 2px 10px white;
}

h1 a{
    text-decoration: none;
    color: #eee;
}

h1 a:hover{
    text-shadow: 0px 0px 1px #fff;
}

h2 {
    font-family: "Gabriola", sans-serif;
    font-size: 2em;
}

h2, nav a {
    color: rgb(35, 102, 12);
}

h2, h3, dt, nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-family: "Gabriola", sans-serif;
}

nav {
    font-family: "Century Gothic", serif;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px 10px 40px;
}

nav a:hover{
    text-shadow: 0px 0px 1px rgb(20,70,20);
}

#wrapper{
    width: 90%;
    margin: auto;
}

ul{
    padding: 0;
    list-style: none;
}

#heroimg{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

#categories{
    margin: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#categories section{
    margin-bottom: 20px;
}

#categories img{
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-right: 20px;
}

#categories section:nth-of-type(1){
    grid-row: 1 / 3;
}

#categories h3{
    margin-top: 0;
}

.icon{
    display: block;
    font-size: 3em;
    color: rgb(35, 102, 12);
}

.item25{
    width: 23%;
    text-align: center;
    box-shadow: 0px 0px 20px #eee;
}

#multicol {
    display: flex;
    flex-wrap: wrap; /*extra*/
    justify-content: space-between;
}

#copyright{
    font-family: serif;
    font-style: italic;
    text-align: center;
    width: 100%;
}

footer {
    font-family: "Century Gothic", serif;
    font-size: smaller;
    padding: 10px 10%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

footer > div {
    flex-grow: 1;
    padding-left: 10%;
}

footer nav a {
    color: #eee;
    display: block;
    padding: 0;
    text-align: left;
}

@media only screen and (max-width: 1024px) {
    table, form {
        width: 90%;
    }

    #pagecontainer {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        display: inline-block;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
    }

    footer nav ul li {
        display: block;
    }

    h1 {
        font-size: 2.5em;
    }

    nav a {
        padding: 10px 30px;
    }

    #categories section {
        width: 100%;
    }

    main{
        border-left: #fff;
    }
}

@media only screen and (max-width: 760px) {
    table, form {
        width: 100%;
    }
    form {
        padding: 0;
        border: none;
    }
    form {
        display: grid;
        grid-template-columns: 1fr;
    }
    input[type=submit] {
        justify-self: stretch;
    }     

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    nav {
        border-bottom: 1px solid rgb(158,194, 143);
    }
    nav ul {
        flex-direction: column;
    }

    #multicol {
        flex-wrap: wrap;
    }

    footer > div {
        width: 100%;
    }

    #categories {
        grid-template-columns: 1fr 1fr;
    }

    .item25 {
        width: 50%;
    }

    nav ul li {
        display: block;
    }

    .item33 {
        float: none;
        display: block;
        padding-left: 40%;
    }

    main{
        border-left: #fff;
    }

    h1 a{
        font-size: 23px;
    }

    h2{
        font-size: 1.5em;
    }
}